<div class="bg-image_wrap">
  <img src="<%= asset_path("background.png") %>" />
</div>
<div class="content-wrap position-relative">
  <div class="center-wrap">
    <div class="inner-wrap">
      <div class="screen-wrap">
        <img src="<%= asset_path("screen.png") %>" />
      </div>
      <div class="text-wrap">
        <h2 class="title">get more reach</h2>
        <p class="text">The potential for extra reach is exponentially higher.
        </p>
      </div>
    </div>
  </div>
</div>


<img src="../assets/img/corner_one.png" class="corner-bg-top"/>
<img src="../assets/img/corner_two.png" class="corner-bg-bottom"/>
<div class="content-wrap position-relative">
  <div class="center-wrap">
    <div class="inner-wrap">
      <div class="screen-wrap">
        <img src="<%= asset_path("screen.png") %>" />
      </div>
      <div class="text-wrap">
        <h2 class="title">get more reach</h2>
        <p class="text">The potential for extra reach is exponentially higher.
        </p>
      </div>
    </div>
  </div>
</div>