<div class="content-wrap position-relative">
  <div class="center-wrap">
    <div class="inner-wrap">
      <div class="screen-wrap">
        <img src="<%= asset_path("SignupImage.png") %>" />
      </div>
      <div class="text-wrap">
        <h2 class="title">Activate your company influencers</h2>
        <p class="text">With Our B2B Employee Advocacy Platform
        </p>
      </div>
    </div>
  </div>
</div>