<div class="post-commentary-fields">
  <%= f.text_area :description, class: "form-control textarea-wrap mb-3", placeholder: "What would you like to say about this post?", rows: 4, maxlength: 3000, style: "white-space: pre-wrap" %>
</div>