<script>

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            html: true,
            offset: 155
        })

        $("#remove-image-text").hide()
    })

    var commentries_count = 1
    $(document).on("keyup", "#post_title", function () {
        render_html()
        $("#preview-post-title").text($(this).val())
    })

    $(document).on("keyup", "#post_main_url", function () {
        render_html()
    })

    $(document).on("keyup", "#post_commentries_attributes_1__description", function () {
        render_html()
    })

    $("#post_image").change(function () {
        render_html()
    })

    function render_html() {

        if ($("#post_title").val().length > 0 || $("#post_main_url").val().length > 0 || $("#post_commentries_attributes_1__description").val().length > 0 || $("#post_image")[0].files[0]) {
            $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/preview_post') %>");

            if (commentries_count == 1) {
                $(".post-next-commentry-button").hide()
            } else {
                $(".post-next-commentry-button").show()
            }

            $(".preview-commentries-count").text(commentries_count)

            $("#preview-post-link").empty()
            var name = $("#post_main_url").val().replace("http://", "")
            $("#preview-post-link").append("<div class='post-desc'><a href=" + $("#post_main_url").val() + " class='post-link'>" + name + "</a></div>")

            $("#preview-post-comment-1").text($("#post_commentries_attributes_1__description").val())
            $("#preview-post-comment-one-1").text($("#post_commentries_attributes_1__description").val())

            if ($("#post_image")[0].files[0]) {

                if ($("#post_image")[0].files[0].size > 5242880) {
                    alert("Please upload image less than 5 mb")
                } else {
                    $("#preview-post-image").empty()
                    $("#upload-image-text").hide()
                    $("#remove-image-text").show()
                    $("#preview-post-image").append(` <img src='${URL.createObjectURL($("#post_image")[0].files[0])}' style='height: 13rem;'/>`)
                    $("#preview-image-button").css("z-index", "2")
                }
            }


        } else {
            $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/empty_preview') %>");
        }
    }

    $(document).ready(function () {

        $("#preview-image-button").click(function () {
            $("#post_image").val("")
            $("#preview-post-image").empty()
            $("#remove-image-text").hide()
            $("#upload-image-text").show()
            $("#preview-image-button").removeAttr("style")
        })

        var commentries_array = [1]

        $('form').on('click', '.add_fields', function (event) {
            $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/preview_post') %>");
            commentries_count += 1
            $(".preview-commentries-count").text(commentries_count)

            var regexp;
            regexp = new RegExp($(this).data('id'), 'g');
            $('.fields').append($(this).data('fields').replace(regexp, commentries_count));
            return event.preventDefault();
        });

    })
</script>