<script type="text/javascript">

    $(document).on("keyup", "#post_title", function () {
        if ($(this).val().length > 0) {
            $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/preview_post') %>");
            $("p#preview-post-comment-1").text($("#post_commentries_attributes_1__description").val())
            $("p#preview-post-comment-one-1").text($("#post_commentries_attributes_1__description").val())

            $("#post_image")[0].files[0] ? $("#preview-post-image").attr("src", URL.createObjectURL($("#post_image")[0].files[0])) : $("#preview-post-image").attr("src", "")

        } else {
            $('#preview-post').html("<%= escape_javascript (render partial: 'posts/partials/empty_preview') %>");
        }
    })

    $(document).on("keyup", "#post_main_url", function () {
        $("#preview-post-link").empty()
        var name = $(this).val().replace("http://", "")
        $("#preview-post-link").append("<a href=" + $(this).val() + " class='post-link'>" + name + "</a>")
    })

    $("#post_image").change(function () {
        var file = $(this)[0].files[0]
        $("#preview-post-image").attr("src", URL.createObjectURL(file))
    })

    $(document).ready(function () {
        $("#post_tag_ids").select2({
            placeholder: 'Select Tags',
            containerCssClass: "form-control"
        })

        var commentries_array = [1]

        $('form').on('click', '.add_fields', function (event) {
            var commentries_count = parseInt($(".preview-commentries-count").text()) + 1
            $(".preview-commentries-count").text(commentries_count)
            commentries_array.push(commentries_count)
            $("#preview-post-comment-list").append(`<p class='comment' id='preview-post-comment-${commentries_count}'></p>`)

            var regexp;
            regexp = new RegExp($(this).data('id'), 'g');
            $('.fields').append($(this).data('fields').replace(regexp, commentries_count));
            return event.preventDefault();
        });

        var i = 1

        while (i <= commentries_array.length) {

            $(document).on("keyup", "#post_commentries_attributes_" + i + "__description", function () {
                $("p#preview-post-comment-" + 1).text($(this).val())
                $("p#preview-post-comment-one-" + 1).text($(this).val().slice(0, 50))
            })

            i = i + 1
        }

    })
</script>