.analytics_wrap {
  .top-title {
    font: {
      size: 24px;
      weight: 700;
    };
    line-height: 1.2;
    color: $secondary-grey-title;
  }
  .date_range {
    padding-right: 140px;
    .date-range-wrap {
      display: inline-block;
      padding: 11px 20px 11px 27px;
      background-color: $bg-white;
      box-shadow: 0px 9px 53px rgba(0, 0, 0, 0.04);
      border-radius: 10px;
      border: 1px solid rgba(130, 203, 251, 0.16);
      cursor: pointer;
      &:focus {
        outline: none;
      }
      .text {
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        font: {
          size: 14px;
          weight: 700;
        };
        line-height: 1.2;
        color: $terms-text-color;
        letter-spacing: 0.3px;
        min-width: 120px;
      }
    }
  }
  .inner-wrap {
    padding: 0 40px;
    .reach-wrap {
      margin-top: 45px;
      .reach-text {
        position: relative;
        font: {
          size: 16px;
          weight: 600;
        };
        color: $terms-text-color;
        .icon {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          margin-right: -30px;
        }
      }
      .reach-count {
        .text {
          padding-left: 29px;
          >p {
            margin-bottom: 0;
            letter-spacing: 0.01em;
          }
          .count {
            font: {
              size: 28px;
              weight: 600;
            };
            line-height: 0.8;
            color: $post-share-color;
          }
          .sub-text {
            font: {
              size: 14px;
              weight: 400;
            };
            line-height: 1.2;
            color: $sub-text-grey;
            margin-top: 4px;
          }
        }
      }
    }
    .chart-wrap {
      margin-top: 40px;
      .chart-head {
        margin-bottom: 15px;
        .chart-title {
          font: {
            size: 20px;
            weight: 600;
          };
          letter-spacing: 0.2px;
          line-height: 1.3;
          color: $user-name;
          margin-bottom: 0;
        }
      }
      .chart-filter-btn {
        position: absolute;
        top: 0;
        right: 0;
      }
      .chart-button {
        text-align: right;
        .btn {
          padding: 8px 18px;
          &:hover {
            path {
              stroke: $bg-white;
            }
          }
          .text {
            padding-left: 18px;
          }
        }
      }
      .chart {
        margin-top: 15px;
        min-height: 395px;
      }
    }
    .analytic-counts {
      margin-top: 75px;
      .post-list-head {
        margin-right: 20px;
        padding: 0 20px;
        >p {
          margin-bottom: 0;
          color: $terms-text-color;
          line-height: 0.8;
          font: {
            size: 16px;
            weight: 300;
          }
        }
        .employee {
          font-weight: 600;
        }
      }
      .scroll-view {
        max-height: 367px;
        overflow-y: auto;
        margin-top: 15px;
        .scroll-wrap {
          padding: 20px 21px 52px;
          border-radius: 13px;
          background-color: $input-grey-background;
          margin-right: 20px;
          .post-list {
            padding-bottom: 25px;
            margin-bottom: 25px;
            &::after {
              content: "";
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: 0;
              width: 285px;
              height: 1px;
              background-color: rgba(216, 216, 216, 0.4);
            }
            &:last-child {
              margin-bottom: 0;
              &::after {
                display: none;
              }
            }
            .post-name {
              font: {
                family: 'Mulish', sans-serif;
                size: 14px;
                weight: 700;
              };
              line-height: 1.2;
              letter-spacing: 0.01em;
              color: $sub-text-grey;
              margin-bottom: 0;
            }
            .user {
              width: 60%;
              img {
                width: 41px;
                border-radius: 50%;
              }
              .name {
                font: {
                  size: 14px;
                  weight: 700;
                };
                line-height: 0.8;
                color: $post-share-color;
                padding-left: 15px;
              }
            }
            .posts, .counts {
              font: {
                size: 14px;
                weight: 600;
              };
              line-height: 0.8;
              color: $terms-text-color;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}