@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "variables";
body {
  font-family: 'Inter', sans-serif;
  min-width: 1024px;
  overflow-x: auto;
}

img {
  width: 100%;
}
.auth-wrap {
  .bg-linear {
    background: linear-gradient(156.86deg, #88D6FF 0.96%, #3F96DE 101.16%);
  }

  .left-column {
    z-index: 5;
  }

  .corner-bg-top {
    position: absolute;
    top: 0;
    right: -5%;
    width: auto;
  }

  .corner-bg-bottom {
    position: absolute;
    bottom: 0;
    left: -50%;
  }
}

.content-wrap {
  padding: 30px 46px;
  display: table;
  width: 100%;
  height: 100%;
  .center-wrap {
    display: table-cell;
    vertical-align: middle;
    .inner-wrap {
      @include media(md-max) {
        max-width: 565px;
        margin: auto;
      }
    }
    .screen-wrap {
      img {
        max-width: 556px;
        width: 100%;
        height: auto;
      }
    }

    .top-text-wrap {
      color: $bg-white;
      text-align: center;

      .title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 16px;
      }

      .text {
        font-size: 16px;
        line-weight: 1.2;
        font-weight: 400;
      }
    }
    .text-wrap {
      margin-top: 105px;
      color: $bg-white;
      text-transform: capitalize;
      padding-left: 82px;

      @include media(lg-max) {
        padding-left: 72px;
        margin-top: 95px;
      }

      @include  media(md-max) {
        padding-left: 62px;
        margin-top: 85px;
      }

      @include  media(sm-max) {
        padding-left: 52px;
        margin-top: 65px;
      }
      .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        position: relative;
        padding-top: 15px;

        @include  media(md-max) {
          font-size: 22px;
        }

        @include  media(sm-max) {
          font-size: 20px;
        }

        &::before {
          content: "";
          width: 48px;
          height: 4px;
          background-color: $bg-white;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .text {
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
        margin-bottom: 0;

        @include  media(sm-max) {
          font-size: 16px;
        }
      }
    }
  }
}

.switch {
  display: inline-block;
  width: 56px;
  height: 24px;
  vertical-align: middle;

  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  input:checked + .slider {
    &::before {
      -webkit-transform: translateX(31px);
      -ms-transform: translateX(31px);
      transform: translateX(31px);
    }
  }


  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg-white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 62px;

    &::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: $primary-blue-bg;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
}

.dashboard_wrap {
  width: calc(100% - 314px);
  margin-left: 314px;
  padding: 40px 59px 40px 84px;
  min-width: 1024px;
  overflow-x: auto;
  min-height: 800px;

  &.show-alert {
    position: fixed;
    height: 100vh;
    overflow: hidden;
    min-height: 700px;
  }

  @include media(xlg-max) {
    padding-left: 80px;
    padding-right: 50px;
  }

  @include media(lg-max) {
    padding-left: 60px;
    padding-right: 40px;
  }
}

.sideBar {
  background-color: rgba(248, 248, 248, 0.95);
  padding: 0;
  height: 100vh;
  position: fixed;
  width: 314px;
  z-index: 9999;

  .sidebar_wrap {
    padding: 56px 24px 31px;
    height: 100%;

    >.position-relative {
      height: 100%;
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 56px);
      .nav_wrap {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow: auto;
      }
      .link_wrap {
        max-height: calc(100vh - 56px - 170px);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
      }
    }

    .row {
      margin-right: 0;
      margin-left: 0;
    }

    .user-wrap {
      align-items: end;
      .thumb {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: 15px;
      }
      .sub_text {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 0;
        color: $subtext_grey;
      }
      .user_name {
        font-size: 20px;
        line-height: 1.6;
        font-weight: 700;
        margin-bottom: 0;
        color: $user-name;
      }
    }

    .nav_wrap {
      height: calc(100% - 60px);
      padding-bottom: 110px;
      overflow-y: auto;
      padding-top: 94px;
      ul {
        padding-left: 0;
        margin-bottom: 0;
        a{
          text-decoration: none;
        }
        li {
          margin-bottom: 16px;
          opacity: 0.7;
          list-style-type: none;

          ul {
            padding-left: 42px;
            padding-top: 28px;
          }

          .nav_link {
            border-radius: 8px;
            padding-right: 40px;
          }

          .sub_nav_link {
            padding: 15px 19px;
            background-color: $bg-white;
            border-radius: 8px;

            a {
              .text{
                color: $subtext_grey;
                font-size: 16px;
                line-height: 1.5;
                padding-left: 17px;
              }
            }
          }

          &.active {
            opacity: 1;

            .nav_link {
              background-color: $bg_white;

              .title {
                font-weight: 500;
                font-family: 'DM Sans';
              }
            }
          }
        }
      }
      .nav_link {
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        &:hover {
          text-decoration: none;
        }

        span {
          display: inline-block;
          vertical-align: bottom;
        }

        .icon {
          width: 18px;
        }

        .title {
          font-size: 18px;
          line-height: 1.3;
          font-weight: 400;
          color: $user-name;
          padding-left: 19px;
        }

        .right_icon {
          position: absolute;
          right: 19px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .bottom_button_wrap {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(248,248,248,0.95);
      }

      button {
        width: 100%;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.btn_plain {
  background-color: transparent;
  border: none;
}

.home_wrap {
  display: table;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;

  .center-elem {
    display: table-cell;
    vertical-align: middle;

    p {
      margin-top: 40px;
      color: $terms-text-color;
      font: {
        size: 14px;
        weight: 600;
      };
      line-height: 1.3;
    }

    button {
      margin-top: 64px;
      padding: 7px 54px;
      font: {
        size: 16px;
        weight: 500;
      };
      line-height: 1.2;
    }
  }
}

.btn.btn-primary {
  background: linear-gradient(90.8deg, #94D5FD -48.38%, #63B9F6 101.54%);
  border-color: $primary-btn-border;
  color: $bg-white;
  font: {
    size: 16px;
    weight: 500;
  }
  line-height: 1.2;
  &:hover {
    background: linear-gradient(90.8deg, #94D5FD -95.38%, #63B9F6 51.54%);
  }
}

.btn.btn-outline-primary {
  border-color: $primary-btn-border;
  color: $primary-outline-btn-color;
  transition: background .15s ease-in-out;
  &:hover {
    color: $bg-white;
    background: linear-gradient(90.8deg, #94D5FD -95.38%, #63B9F6 51.54%);
  }
}

.form-control {
  &::-webkit-input-placeholder {
    color: $placeholder-color;
    font-weight: 400;
  }

  &:-moz-placeholder {
    color: $placeholder-color;
    font-weight: 400;
  }

  &::-moz-placeholder {
    color: $placeholder-color;
    font-weight: 400;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color;
    font-weight: 400;
  }
}


.badge {
  font: {
    size: 18px;
    weight: 400;
  }
  margin-right: 19px;
  padding: 4px 8px;
  line-height: 1.3;
  border-radius: 8px;

  &:last-child {
    margin-right: 0;
  }

  .close_icon {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
  }
}

.badge.green {
  background-color: rgba(99, 193, 120, 0.08);
  color: $badge_green;

  .close_icon {
    path {
      fill: $badge_green;
    }
  }
}

.badge.orange {
  background-color: rgba(245, 166, 35, 0.08);
  color: $badge_orange;

  .close_icon {
    path {
      fill: $badge_orange;
    }
  }
}

.badge.purple {
  background-color: rgba(144, 157, 254, 0.08);
  color: $badge_purple;

  .close_icon {
    path {
      fill: $badge_purple;
    }
  }
}

.post-options {
  position: absolute;
  right: 14px;
  top: 46px;
  padding: 18px 13px;
  background-color: $bg-white;
  border-radius: 8px;
  box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.08);
  display: none;
  >div {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .transparent-button {
    font: {
      size: 16px;
      weight: 400;
    };
    line-height: 1.5;
    color: $title-light-grey;
    padding-right: 0;
    padding-left: 0;
    &:hover {
      text-decoration: none;
    }
    .icon {
      padding-right: 17px;
    }
    &:focus,&:focus-visible {
      outline: none;
    }
  }
}

.show-post-option {
  .post-options {
    display: block;
  }
  .badge {
    font-size: 14px;
  }
}

.badge.badge-primary {
  background-color: rgba(130, 203, 251, 0.08);
  color: $primary_blue-bg;
}

.control-label {
  font-size: 16px;
  line-height: 1.2;
  color: $input-label;
}

.card {
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  padding-bottom: 20px;

  .post-info {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 21px;
    right: 25px;
    cursor: pointer;
    &:focus, &:focus-visible {
      outline: unset;
    }
  }

  .user_detail {
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;

    img {
      border-radius: 50%;
      width: 32px;
      height: 33px;
    }

    > div {
      margin-left: 10px;
    }

    .user-name {
      max-width: 280px;
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-line-clamp: 1;
      -moz-line-clamp: 1;
      -ms-line-clamp: 1;
      line-clamp: 1;
      font: {
        size: 14px;
        weight: 700;
        family: 'Mulish', sans-serif;
      };
      line-height: 1.2;
      color: $post-user-name;
      margin-bottom: 0;

      .user_id {
        font: {
          size: 12px;
          weight: 300;
        };
        line-height: 1.2;
      }
    }

    .job-description {
      font: {
        size: 12px;
        weight: 300;
      };
      color: $secondary-grey-title;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }

  .post_comments {
    margin-top: 5px;
    padding-right: 13px;
    padding-left: 13px;

    .comment {
      font: {
        size: 12px;
        weight: 500;
      };
      line-height: 1.25;
      text-align: justify;
      color: $post-comment-color;
    }
  }

  .comment_navigation_wrap {
    .row {
      justify-content: space-between;
      align-items: center;

      button,
      .pagination {
        padding: 0;
        font: {
          size: 10px;
          weight: 600;
        };
        line-height: 1.3;
        color: $terms-text-color;
      }

      .previous_button {
        padding-right: 27px;

        .text {
          margin-left: 5px;
        }

        &::after {
          content: ".";
          position: absolute;
          right: 10px;
        }
      }

      .next_button {
        .text {
          padding-right: 5px;
        }

        .hide_text {
          display: none;
        }
      }

      .single_button {
        .previous_button {
          display: none;
        }

        .hide_text {
          display: inline;
        }
      }
    }
  }

  .post_image_wrap {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 20px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    img {
      border-radius: 11px;
    }
    .post-desc {
      background-color: $input-bg;
      padding: 14px 51px 7px;
      border-radius: 0 0 10px 10px;
      display: flex;
      flex-direction: column;

      .title {
        font: {
          size: 11px;
          weight: 600;
        };
        line-height: 1.1;
        text-align: justify;
        color: $post-title-color;
        margin-bottom: 10px;
      }

      .text {
        font: {
          size: 10px;
          weight: 300;
        };
        line-height: 1.3;
        text-align: justify;
        color: $post-subtext-color;
        margin-bottom: 0;
      }

      .post-link {
        text-decoration: none;
        font: {
          size: 12px;
          weight: 400;
        };
        margin: 7px -51px 0;
        padding: 5px 51px;
        line-height: 1.1;
        color: $secondary-grey-title;
        background-color: $input-bg;
      }
    }
  }
}

.preview_wrap {
  margin-top: 28px;

  .preview {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.shared-count {
  margin-top: 24px;
  .text {
    font: {
      size: 12px;
      weight: 300;
    };
    line-height: 1.3;
    color: $post-share-color;
  }
}

.post-tags {
  margin-top: 20px;
}

.transparent-button {
  background-color: transparent;
  border: none;

  &:hover {
    opacity: 0.8;
  }
  &:focus,&:focus-visible {
    outline: none;
  }
}

[aria-expanded="true"] {
  .down_icon {
    svg {
      transform: rotateX(180deg);
    }
  }
}

.alert {
  display: inline-block;
  padding: 13px 22px;
  margin-bottom: 0;
  color: $terms-text-color;
  border: none;
  border-radius: 4px;
  font: {
    size: 16px;
    weight: 400;
  };
  line-height: 0.8;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    border-radius: 4px;
  }
}
.dropdown {
  .btn {
    width: 100%;
    text-align: left;
    padding: 12px 23px;
    font: {
      size: 14px;
      weight: 400;
    };
    color: $secondary-grey-title;
    line-height: 1.7;
    background-color: rgba(243, 244, 248, 0.5);
    border-color: transparent;

    &::after {
      position: absolute;
      top: 50%;
      right: 23px;
      transform: translateY(-50%);
    }
  }
  .dropdown-menu {
    width: 100%;
    margin-top: 13px;
    padding: 40px 13px;
    border: 1px solid rgba(162, 213, 242, 0.29);
    box-shadow: 0px 8px 24px -4px rgba(27, 46, 94, 0.08);
    border-radius: 8px;

    .dropdown-items {
      max-height: 330px;
      overflow-y: auto;

      .dropdown-item {
        position: relative;
        padding:8px 40px 8px 16px;
        border-radius: 8px;
        margin-bottom: 8px;
        .select-icon {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .dropdown-item.selected {
      background-color: rgba(78, 115, 248, 0.08);
    }
  }
}

[aria-expanded="true"] {
  .down_icon {
    svg {
      transform: rotateX(180deg);
    }
  }
}

.alert-primary {
  background-color: $alert-primary-bg;

  &::after {
    background-color: $primary-blue-bg;
  }
}

.custom-dropdown-select {
  background: #F9FAFC;
  border: 1px solid rgba(225, 227, 230, 0.5);
  border-radius: 8px;
  .category-label {
    color: #6D7684!important;
  }
  .dropdown-menu {
    margin-top: 0;
    .group-header {
      display: none!important;
    }
  }
}

.custom-dropdown-select .multiselect-btn {
  overflow: auto !important;
}

.primary-label {
  color: $secondary-grey-title;
}

.pop-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg-white;
  box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.08);
  border-radius: 8px;
  padding: 42px 60px 27px;
  text-align: center;
  display: none;
  z-index: 999;

  .alert-title {
    margin-top: 27px;
    margin-bottom: 0;
    font: {
      size: 24px;
      weight: 600;
    }
    line-height: 1.2;
    color: $secondary-grey-title;
  }

  .alert-message {
    margin-top: 9px;
    margin-bottom: 0;
    font: {
      size: 24px;
      weight: 300;
    }
    line-height: 1.2;
    color: $secondary-grey-title;
  }

  .button-wrap {
    margin-top: 30px;

    .btn {
      font: {
        size: 16px;
        weight: 500;
      }
      border-radius: 5px;
    }

    .btn-dangerous {
      color: $bg-white;
      background-color: $danger;
      line-height: 1.2;
      padding: 8px 21px;
      border: none;

      &:hover {
        box-shadow: 0px 0px 3px 0px #ff2a00;
      }
    }

    .white-btn {
      color: $white-btn-color;
      padding: 8px 34px;
      margin-left: 25px;
      border: 1px solid $white-btn-color;
      letter-spacing: 0.3px;
      line-height: 1.1;

      &:hover {
        background-color: $white-btn-color;
        color: $bg-white;
      }
    }
  }
}

.card_names {
  p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: $input-label;
  }
  &>* {
    display: inline-block;
  }
  .card_logos {
    padding-left: 41px;
  }
}

.card-secure-text {
  span {
    display: inline-block;
    vertical-align: bottom;
  }

  .text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    color: $text-light-grey;
    padding-left: 11px;
  }
}

.search-wrap {
  margin-top: 25px;
  max-width: 948px;
  .form-control {
    padding: 16px 16px 16px 69px;
    height: auto;
  }
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
  }
}

.custom-checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: $checkbox-background-color;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 4px;
}

.check-symbol {
  position: absolute;
  left: 9px;
  top: 3px;
  width: 7px;
  height: 14px;
  display: none;
  border: solid $bg-white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-check-input {
  z-index: 1;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.form-check-input:checked {
  &~.custom-checkbox {
    background-color: $check-box-blue;
    border: 3px solid $check-box-border-grey;
  }
  &~.check-symbol {
    display: block;
  }
}

.custom-radio {
  min-width: 131px;
  text-align: center;
  border: 1px solid $terms-text-color;
  border-radius: 10px;
  background-color: $input-bg;
  padding: 11px 0;
  font: {
    size: 14px;
    weight: 700;
    family: 'Mulish', sans-serif;
  };
  line-height: 1.2;
  letter-spacing: 0.3px;
  color: $secondary-grey-title;
  cursor: pointer;
}

.custom-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 25px);
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-radio-input {
  &:checked+.custom-radio {
    background-color: $alert-primary-bg;
    border-color: $primary-blue-bg;
    color: $primary-blue-bg;
  }
}

.secondary-label {
  font: {
    size: 14px;
    weight: 300;
  };
  line-height: 1;
  color: $terms-text-color;
}

.custom-dropdown-select .multiselect-btn {
  overflow: auto !important;
}

.primary-label {
  color: $secondary-grey-title;
}

.pop-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg-white;
  box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.08);
  border-radius: 8px;
  padding: 42px 60px 27px;
  text-align: center;
  display: none;
  .alert-title {
    margin-top: 27px;
    margin-bottom: 0;
    font: {
      size: 24px;
      weight: 600;
    }
    line-height: 1.2;
    color: $secondary-grey-title;
  }

  .alert-message {
    margin-top: 9px;
    margin-bottom: 0;
    font: {
      size: 24px;
      weight: 300;
    }
    line-height: 1.2;
    color: $secondary-grey-title;
  }

  .button-wrap {
    margin-top: 30px;
    .btn {
      font: {
        size: 16px;
        weight: 500;
      }
      border-radius: 5px;
    }
    .btn-dangerous {
      color: $bg-white;
      background-color: $danger;
      line-height: 1.2;
      padding: 8px 21px;
      border: none;
      &:hover {
        box-shadow: 0px 0px 3px 0px #ff2a00;
      }
    }
    .white-btn {
      color: $white-btn-color;
      padding: 8px 34px;
      margin-left: 25px;
      border: 1px solid $white-btn-color;
      letter-spacing: 0.3px;
      line-height: 1.1;
      &:hover {
        background-color: $white-btn-color;
        color: $bg-white;
      }
    }
  }
}
.show-alert {
  .pop-alert {
    display: block;
  }
}

.form-control.invalid {
  border: 1px solid $danger-border;
  box-shadow: 0 0 1px 3px rgba(255, 51, 0, 0.25);
  & ~.invalid-feedback {
    display: inline;
  }
}

.read-more{
  cursor: pointer;
  color: $primary-blue-bg;
  font-size: 14px;
  text-decoration: underline;
}

.draft-intimation {
  position: absolute;
  top: 15px;
  right: 40px;
  background-color: rgba(108,117,125,0.6);
  color: rgba(28,32,34, 0.6);
}

.so-toast{
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 50px;
  position:fixed;
  box-shadow: 0px 12px 35px rgba(0,0,0,0.25);
  right: 0;
  top: 20px;
  transition: all ease-out 0.15s;
  opacity:0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
}
.so-toast.in{
  transform: translateX(-15px);
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  opacity:1;
  transition: all ease-in 0.25s;
}

.so-danger{
  background-color: rgba(255, 51, 0, 1);
  color: #ffffff
}

#profile-password-update{
  margin-top: 20px;
}