@import "variables";

.authentication-container {
  background-color: $bg-white;
  min-height: 100vh;
  position: relative;
  @include  media(md-max) {
    min-height: auto;
  }
  @include media(sm-max) {
    height: auto;
  }

  .signInFormWrap {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    min-width: 380px;
    max-width: 485px;
    padding: 0 30px;
    display: table;
    margin: auto;

    @include  media(md-max) {
      min-height: auto;
    }

    .container-wrap {
      padding: 40px 0;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .formTitle {
    color: $title-grey;
    font-size: 42px;
    line-height: 1.19;
    margin: 0;
    font-weight: 700;

    @include media(md-max) {
      font-size: 38px;
    }

    @include media(sm-max) {
      font-size: 34px;
    }
  }

  .formText {
    color: $title-light-grey;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;

    @include media(sm-max) {
      font-size: 16px;
    }
  }

  .form-group {
    margin-bottom: 26px;
  }

  .form-group.required {
    .control-label:after {
      content:"*";
    }
  }

  .custom-checkbox {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $checkbox-background-color;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 4px;
  }

  .check-symbol {
    position: absolute;
    left: 9px;
    top: 3px;
    width: 7px;
    height: 14px;
    display: none;
    border: solid $bg-white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .form-check-input {
    z-index: 1;
    width: 24px;
    height: 24px;
    opacity: 0;
  }

  .form-check-input:checked {
    &~.custom-checkbox {
      background-color: $check-box-blue;
      border: 3px solid $check-box-border-grey;
    }
    &~.check-symbol {
      display: block;
    }
  }

  .form-check-label {
    padding-left: 13px;
    font-weight: 500;
  }

  .invalid-feedback {
    padding-top: 7px;

    span {
      font-size: 14px;
      line-height: 1.4;
      font-weight: 500;
      padding-left: 15px;
      display: inline-block;
      vertical-align: middle;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 10px);
      height: 2px;
      background-color: $danger;
      border-radius: 4px;
    }
  }

  .StripeElement.StripeElement--complete{
    background-color: $input-grey-background;
    border: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    padding: 14px 12px;
    color: $input-color;
    border-radius: 2px;
  }

  .StripeElement.StripeElement--focus{
    background-color: $input-grey-background;
    border: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    padding: 14px 12px;
    color: $input-color;
    border-radius: 2px;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }

  .StripeElement.StripeElement--empty{
    background-color: $input-grey-background;
    border: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    padding: 14px 12px;
    color: $input-color;
    border-radius: 2px;
  }

  .StripeElement.StripeElement--invalid{
    background-color: $input-grey-background;
    border: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    padding: 14px 12px;
    color: $input-color;
  }

  .StripeElement.StripeElement--webkit-autofill{
    background-color: $input-grey-background;
    border: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    padding: 23px 12px;
    color: $input-color;
  }


  .password-field {
    margin-bottom: 9px;
    padding-right: 50px;
  }

  .btn-block {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .toggleButton, .user-password-button, .user-password-confirmation-button, .passwords-users-password-confirmation, .passwords-users-password {
    position: absolute;
    top: 39px;
    right: 0;
    width: 24px;
    padding: 0;
    margin-right: 10px;

    .hide {
      display: none;
    }

    .visible {
      display: inline;
    }
  }

  .toggleButton.password-visible, .user-password-button.password-visible, user-password-confirmation-button.password-visible
  .passwords-users-password-confirmation.password-visible, passwords-users-password.password-visible{
    .visible {
      display: none;
    }

    .hide {
      display: inline;
    }
  }

  .text-link {
    color: $primary-outline-btn-color;
    border-bottom: 1px solid;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }

  .term {
    color: $terms-text-color;

    svg {
      position: absolute;
      top: 5px;
      left: 0;
    }
    .text {
      font-size: 13px;
      line-height: 1.1;
      font-weight: 400;
      padding-left: 20px;
      display: inline-block;
    }
  }
}

.dotted-button {
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px dashed $title-light-grey;
  border-radius: 6px;
}

.form-control {
  background-color: $input-grey-background;
  border: none;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  padding: 24px 12px;
  color: $secondary-grey-title;
}