$secondary: #d13985;
$dark: #020d12;
$primary: #0083ba;
$primary-sm: #ddf5ff;
$grey: #c6c8c9;
$footer-bg: #f8f8f8;
$bg-white: #ffffff;
$title-grey: #5E5E75;
$title-light-grey: #8692A6;
$text-light-grey: #C0C0C0;
$input-label: #696F79;
$input-color: #6F6C99;
$input-grey-background: #FBFBFB;
$checkbox-background-color: #F0F0F0;
$danger: #FF3300;
$danger-border: #FF3203;
$primary-btn-border: #A2D5F2;
$primary-outline-btn-color: #6EC0F8;
$terms-text-color: #90A1B5;
$primary-blue-bg: #82CBFB;
$secondary-grey-title: #6D7684;
$check-box-blue: #84CCFB;
$check-box-border-grey: #C4C4C4;