$secondary: #d13985;
$dark: #020d12;
$primary: #0083ba;
$primary-sm: #ddf5ff;
$grey: #c6c8c9;
$footer-bg: #f8f8f8;
$bg-white: #ffffff;
$title-grey: #5E5E75;
$title-light-grey: #8692A6;
$text-light-grey: #C0C0C0;
$input-label: #696F79;
$input-color: #6F6C99;
$input-grey-background: #FBFBFB;
$checkbox-background-color: #F0F0F0;
$danger: #FF3300;
$danger-border: #FF3203;
$primary-btn-border: #A2D5F2;
$primary-outline-btn-color: #6EC0F8;
$terms-text-color: #90A1B5;
$primary-blue-bg: #82CBFB;
$secondary-grey-title: #6D7684;
$check-box-blue: #84CCFB;
$check-box-border-grey: #C4C4C4;
$subtext_grey: #757D8A;
$user-name: #5A6474;
$input-bg: #F9FAFC;
$badge_green: #63C178;
$badge_orange: #F5A623;
$badge_purple: #909DFE;
$post-user-name: #1C2022;
$post-comment-color: #939393;
$post-description-background: #E1E8ED;
$post-title-color: #4E585E;
$card-button-color: #707070;
$post-subtext-color: #959595;
$dotted_button_color: #656E7C;
$placeholder-color: #D3D3D3;
$alert-primary-bg: #F5FBFF;