.custom-dropdown-select {
  position: relative;
  .category-label {
    position: absolute;
    top: 15px;
    left: 15px;
    transition: all linear 0.15s;
    z-index: 501;
    line-height: 1;
    height: auto;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
  }
  .category-label.has-value {
    top: 6px;
    font-size: 11px;
    font-weight: 600;
  }
  .open {
    display: block;
  }
  .multiselect-btn {
    position: relative;
    z-index: 9;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    min-width: 165px;
    border: none;
    color: #000000;
    font-size: 14px;
    line-height: 137.6%;
    font-weight: 700;
    min-height: 45px;
    text-align: left;
    padding: 10px 15px;
    text-transform: none;
    cursor: pointer;
    background-color: rgba(243,244,248,0.5);
    border-radius: 6px;
    max-height: 150px;
    overflow: scroll;
    &:focus {
      box-shadow: none;
    }
    &:after {
      content: none;
    }
  }
  .custom-dropdownmenu.dropdown-menu {
    right: 0;
    left: unset!important;
    top: unset !important;
    max-height: 500px !important;
    min-width: 290px;
    padding: 0 5px 5px 5px;
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: auto;
    transform: none !important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    &:before {
      content: '';
      border-bottom: 8px solid #ffffff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      top: -8px;
      left: 15px;
      position: absolute;
    }
    .input-group {
      padding: 5px 13px 5px 15px;
      justify-content: space-between;
      height: 100%;
      display: flex;
      .search-input {
        border: none;
        height: 45px;
        flex-grow: 1;
        /* clears the ‘X’ from Internet Explorer */
        &::-ms-clear { display: none; width : 0; height: 0; }
        &::-ms-reveal { display: none; width : 0; height: 0; }
        /* clears the ‘X’ from Chrome */
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration { display: none; }
        &:focus {
          outline: none;
        }
      }
      .input-group-addon-btn {
        border: none;
        display: flex;
        align-items: center;
      }
    }
    .group-header {
      padding-left: 10px;
      display: flex;
      align-items: center;
      height: 45px;
      margin: 5px 0;
      border-radius: 5px;
      color: #ffffff;
      background-color: #143d33;
      .header-label {
        &:after {
          border-top: 8px solid #ffffff;
        }
      }

      .addGroupInput {
        height: 25px;
        width: 25px;
        margin: 10px;
        display: flex;
        opacity: 1;
        left: unset;
        position: unset;
      }
      .header-label {
        padding: 0;
        text-align: left;
        display: flex;
        flex-grow: 1;
        align-items: center;
        font-weight: 700;
        text-transform: none;
        position: relative;
        height: 100%;
        &:after {
          position: absolute;
          content: '';
          width: 8px;
          height: 8px;
          border-width: 2px 0 0 2px;
          transition: all linear 0.25s;
          top: unset;
          border-top: 8px solid #ffffff;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          right: 15px;
          transform: none;
        }
      }
      .header-label.collapsed {
        font-weight: 400;
        &:after {
          transform: rotate(-180deg);
          top: unset;
        }
      }
    }
    .dropdown-item {
      [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after{
        display: none;
      }
      height: 45px;
      margin-bottom: 5px;
      padding: 0 0 0 13px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      font-weight: 400;
      &:hover {
        background: rgba(78, 115, 248, 0.08);
        border-radius: 8px;
      }
      input {
        height: 25px;
        width: 25px;
        opacity: 1;
        left: unset;
        position: unset;
        cursor: pointer;
        display: none;
      }
      label {
        display: flex;
        flex-grow: 1;
        align-items: center;
        padding-left: 10px;
        line-height: 15px;
        margin: 0;
        cursor: pointer;
        height: 100%;
        &:before {
          content: unset;
        }
      }
    }
    .collapseContent {
      max-height: 433px;
      min-height: 130px;
      overflow: auto;
      position: relative;
    }

  }
  .append-text {
    display: flex;
    padding-right: 10px;
    padding-top: 10px;
  }
  .select-close-icon {
    margin-left: 4px;
  }
  .customDropdown-group {
    min-height: 145px;
    .dropdown-item.checkedList {
      background: rgba(78, 115, 248, 0.08);
      border-radius: 8px;
    }
  }
  &:after {
    content: "";
    width: 12px;
    height: 12px;
    border-right: 2px solid #6D7684;
    border-bottom: 2px solid #6D7684;
    top: 18px;
    position: absolute;
    right: 20px;
    transform: rotate(45deg);
  }
  &.show {
    &:after {
      transform: rotate(-135deg);
    }
  }
}
//style custom for add option
.add-option {
  padding-left: 23px;
  cursor: pointer;
  color: #63B9F6!important;
  margin-bottom: 5px;
  display: flex;
  height: 45px;
  align-items: center;
}
