<div class="post-create-wrap">
  <h4 class="section-title">Share your post</h4>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 inner-wrap position-relative">
      <div id="post-form">
        <%= render "posts/partials/share_post" %>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 inner-wrap">
      <p class="control-label">Preview</p>
      <div>
        <%= render "posts/partials/preview_filled" %>
      </div>
    </div>
  </div>
</div>
