<div id="post_details">
  <% @posts_title.zip(@posts_shared_count).each do |post_title, shared_count| %>
    <div class="post-list position-relative">
      <div class="d-flex justify-content-between align-items-center">
        <p class="w-60 post-name d-flex align-items-center"><%= post_title%></p>
        <p class="w-20 posts text-center"><%= shared_count || 0 %></p>
      </div>
    </div>
  <% end %>
</div>